

/*General*/

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

p {
	font-family: 'Questrial', sans-serif;
	margin: 0;
}


/*menu superior*/

.menu {
	padding: 0 6em;
}

.menu, .menu ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	font-size: 14pt;
	color: #707070;
}

.menu li {
	padding: 10px 30px;
}

.menu li:hover {
	background: #ff5773;
	color: white;
}

.hero {
	background: #ff5773;
}

.logo {
	display: flex;
}

.logo figure {
	margin: 0 21px 0 0;
}

.logo-name {
	color: #707070;
	letter-spacing: 5px;
}

.logo-description {
	color: #ccd7dd;
	font-size: 8pt;
	letter-spacing: 1px;
}

/*hero*/

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 800px;
	color: white;
}